# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
* List popular languages for Data Science
* Create and use Markdown cell in Jupyter Notebooks
* Create and use code cell in Jupyter Notebooks

## Author
Francesca Angela Lioce

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Plotly
2. ggplot
3. Lattice

| Data Science Tools |
|--------------------|
| Anaconda |
| Jupyter Notebooks |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335